<div class="container">
    <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                    <form name="myform"  ng-submit="myform.$valid && submitForm()" novalidate>
                            <div class="form-group">
                                    <label for="query">Search</label>
              <input id="query" name="query" class="form-control" ng-model="body.query" required><br>
              <span ng-messages="myform.query.$error" ng-show="myform.$submitted ||myform.query.$touched">  
                    <span class=" text-danger" ng-message="required">Field is required</span>
                     </span>
              </div>
              <button  type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!-- <pre>
                {{myform.query|json}}
            </pre> -->
    </div>
</div>

